<ion-header>
  <ion-toolbar>
    <ion-title>
      알라머
      <login style="float:right"></login>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/background.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>WELCOME TO ALARMER</ion-card-subtitle>
      <ion-card-title>알라머에 오신 것을 환영합니다.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>주기적인 업무에 알람을 등록해보세요.<br>
        습관 만들기가 어려웠다면 알람을 등록해보세요.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>INFORMATION</ion-label>
    </ion-list-header>
    <ion-item href="#">
      <ion-icon slot="start" color="medium" name="help"></ion-icon>
      <ion-label>알라머가 무엇인가요?</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>알라머 200% 활용하기</ion-label>
    </ion-item>
    <ion-item class="link" href={{policyUrl}}>
      <ion-icon slot="start" color="medium" name="alert"></ion-icon>
      <ion-label>알라머 개인정보 방침</ion-label>
    </ion-item>
  </ion-list>
</ion-content>