<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>새 알람 등록</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="{{ formGroup.controls['title'].errors && formGroup.controls['title'].dirty ? 'danger' : 'primary' }}">제목</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="{{ formGroup.controls['desc'].errors && formGroup.controls['desc'].dirty ? 'danger' : 'primary' }}">설명</ion-label>
          <ion-input formControlName="desc"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">주기</ion-label>
          <cron-editor [(cron)]="cronExpression" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
        </ion-item>
        <ion-button [disabled]="formGroup.invalid" type="submit">등록</ion-button>
      </ion-list>
    </form>
  </ion-content>
</ion-app>